body{
    padding: 30px;
    color:blue;
}
.play
{
    display: flex;
    justify-content: center;
}
button
{
    padding:10px 30px;
    background-color: blue;
    color:aliceblue;
    font-weight: 900;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
.title
{
    padding-left: 50px;
    text-transform: capitalize;
}
.desc
{
    padding-left: 50px;
    font-size: 20px;

}
.duration
{
    color:gray;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
}
.options
{
    display: flex;
    justify-content: space-evenly;
}
.option
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding-top: 70px;
    
}
.logo
{
    width:50px;
    border-radius: 20px;
}
.divider
{
    height: 0px;
    border: 1px solid blue;
}